.query-content {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: start;
  grid-gap: 30px;
  margin-bottom: 10px;
}
/* query summary */
.query-summary {
  background-color: #fff;
  padding: 30px;
  /* max-width: 400px; */
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.query-summary ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.query-summary li {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
  word-break: break-word;
}
.query-summary li:first-child {
  display: block;
  margin-bottom: 30px;
}
.query-summary li span {
  font-weight: bold;
  padding-right: 15px;
  color: #555;
  min-width: 140px;
  flex-basis: 100px;
}

/* .query-summary .assigned-date {
  margin: 10px 0;
  font-size: 0.9em;
  color: var(--title-color);
} */

.query-summary .details {
  margin: 5px 0;
  color: var(--text-color);
  line-height: 1.2em;
  font-size: 0.9em;
}

.query-summary h3 {
  color: var(--title-color);
  font-size: 0.9em;
}

.query .btn {
  border-radius: 4px;
  /* margin-bottom: 10px; */
}
.image {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid grey;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  max-height: 450px;
  object-fit: inherit;
}
.image:hover {
  opacity: 0.8;
}

.accept .btn {
  margin-right: 10px;
}

.project-comments label {
  margin-bottom: 0px;
}
.add-comment {
  margin-top: 20px;
}
.project-comments textarea {
  min-height: 30px;
  font-size: 1.5em;
  border-radius: 10px;
}

/* comment list */
.project-comments h4 {
  color: var(--heading-color);
}
.project-comments li {
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  margin-top: 20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  background: #fff;
}
.comment-author {
  display: flex;
  align-items: center;
  color: black;
  font-weight: 300;
}
.comment-date {
  color: var(--text-color);
  font-size: 0.9em;
  margin: 4px 0 10px;
}
.comment-content {
  color: black;
  font-size: 0.9em;
  font-weight: 450;
  flex-wrap: nowrap;
  word-break: break-word;
}

/* comments scrollbar */
.project-comments {
  max-height: 500px;
  overflow: auto;
  padding-right: 20px;
  /* firefox scrollbar style */
  scrollbar-width: 20px;
  scrollbar-color: #fff #e4e4e4;
}
/* Chrome, Edge, and Safari scrollbar styles */
.project-comments::-webkit-scrollbar {
  width: 6px;
}
.project-comments::-webkit-scrollbar-track {
  background: #fff;
}
.project-comments::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 3px solid #e4e4e4;
}
.chatbot-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chatbot-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  max-width: 80%;
  max-height: 100%;
  overflow: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.chatbot-hidden {
  display: none;
}

.comments-icon {
  background: none;
  border: none;
  padding: 0;
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-bottom: 20px;
  background-color: rgb(203, 201, 201);
  border: #007bff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  color: black;
}
