.sidebar {
  width: 285px;
  min-width: 285px;
  background: var(--primary-color);
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  color: #fff;
  transition: transform 0.3s ease;
  z-index: 4;
}

.sidebar-content {
  position: fixed;
  width: inherit;
}

.sidebar .user {
  font-weight: bold;
  letter-spacing: 1px;
  padding: 40px 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar .user span {
  display: flex;
  justify-content: center;
}

.sidebar .links {
  margin-top: 80px;
  margin-left: 20px;
}

.sidebar .links li {
  margin-top: 10px;
  opacity: 1;
}

.sidebar .links a {
  display: flex;
  padding: 10px;
  text-decoration: none;
  width: 100%;
  color: #fff;
  box-sizing: border-box;
  opacity: 1;
}

.sidebar .links img {
  margin-right: 10px;
  filter: invert(100%);
  width: 24px;
  height: 27.2px;
}

.sidebar .links a.active {
  color: #555;
  background: var(--bg-color);
  border-radius: 20px 0 0 20px;
}

.sidebar .links .active img {
  filter: invert(40%);
}

.sidebar-collapsed {
  width: 52px;
  min-width: 52px;
  background: var(--primary-color);
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  color: #fff;
  transition: transform 0.3s ease;
  z-index: 4;
}

.sidebar-content {
  position: fixed;
  width: inherit;
}

.sidebar-collapsed .user img {
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar-collapsed .links {
  margin-top: 80px;
  margin-left: 10px;
}

.sidebar-collapsed .links li {
  margin-top: 10px;
  opacity: 1;
}

.sidebar-collapsed .links a {
  display: flex;
  padding: 10px;
  text-decoration: none;
  width: 100%;
  color: #fff;
  box-sizing: border-box;
  opacity: 1;
}

.sidebar-collapsed .links img {
  margin-right: 10px;
  filter: invert(100%);
  width: 24px;
  height: 27.2px;
}

.sidebar-collapsed .links a.active {
  color: #555;
  background: var(--bg-color);
  border-radius: 20px 0 0 20px;
}

.sidebar-collapsed .links .active img {
  filter: invert(40%);
}

@media screen and (max-width: 768px) {
  .sidebar {
    position: fixed;
  }

  .sidebar .user .close-icon {
    display: block;
    width: 75px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 769px) {
  .sidebar .user img {
    display: none;
  }
}